
/* RESET HTML */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*  BODY SIZE*/
body {
  min-width: 100vw;
}

/* RESET TYPOGRAPHY */
h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

/* VARIBLES */

/* COLORS */
:root {
--Yellow:#F4D04E;
--Gray-950: #111111;
--Gray-500: #6B6B6B;
--White: #FFFFFF;


/* SPACING */
--spacing-300: 24px;
--spacing-150: 12px;
--spacing-100: 8px;
--spacing-50: 4px;

}

/* IMPORTING FONT */
@font-face {
  font-family: Figtree-Extra-Bold;
  src: url(assets/fonts/static/Figtree-ExtraBold.ttf);
}

@font-face {
  font-family: Figtree-Medium;
  src: url(assets/fonts/static/Figtree-Medium.ttf);
}

/* CSS FOR TYPOGRAPHY */

.text-preset-1 {
  font-size: 24px;
  line-height: 120%;
  font-family: Figtree-Extra-Bold;
  letter-spacing: 0px;
  color: var(--Gray-950);
  padding: var(--spacing-150) 0;
}

.text-preset-2 {
  font-size: 16px;
  line-height: 150%;
  font-family: Figtree-Medium;
  letter-spacing: 0px;
  color: var(--Gray-500);
}

.text-preset-3 {
  font-size: 14px;
  line-height: 150%;
  font-family: Figtree-Medium;
  letter-spacing: 0px;
  color: var(--Gray-950);
}

.text-preset-3-bold {
  font-size: 14px;
  line-height: 150%;
  font-family: Figtree-Extra-Bold;
  letter-spacing: 0px;
  color: var(--Gray-950);
}

/* STYLING MAIN */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--Yellow)
}

.blog-preview-card_wrapper {
  display: flex;
  justify-content: center;
  height: 501px;
  width: 327px;
  background-color: var(--White);
  border-radius: 20px;
  padding: var(--spacing-300);
  box-shadow: 8px 8px;
  border: 1px solid var(--Gray-950);
}

.blog-preview-card_header-image {
  width: 100%;
  border-radius: 20px;
  height: auto;
}

.blog-preview-card_body-wrapper {
  padding: var(--spacing-300) 0;
  height: auto;
}

.blog-preview-card_body-button {
  display: flex;
  background-color: var(--Yellow);
  justify-content: center;
  align-items: center;
  width: 25%;
  border-radius: 4px;
  height: 2em;
}

.blog-preview-card_body-date {
padding-top: var(--spacing-150);
}

.blog-preview-card_footer-wrapper {
  display: flex;
  gap: var(--spacing-150);
  align-items: center;
}

.blog-preview-card_footer-avatar {
  width: 32px;
  height: 32px;
}

.blog-preview-card_wrapper:hover .blog-preview-card_body-heading {
    color: var(--Yellow);
    transition: all 0.6s ease;
}
.blog-preview-card_wrapper:hover {
  box-shadow: 16px 16px;
  transition: all 0.6s ease;
}

/* DESKTOP VERSION */
@media (min-width: 768px) {
  .blog-preview-card_wrapper {
  height: 522px;
  width: 384px;
  }
}
